<%= stylesheet_link_tag "main.scss" %>
<div id = "wrapper">
  <div id = "header">
    <%= link_to "Login" %>
    <%= link_to "Register" %>
  </div>
  <table id = "boards">
    <th>Board name</th>
    <th>Statistics</th>
    <th>Last posts</th>
    <% @boards.each do |board| %>
      <tr>  
        <td><%= link_to board.name %></td>
        <td><%= link_to board.stat %></td>
        <td><%= link_to board.last_poster %></td>
      </tr>  
    <% end %>  
  </table>
  </div>
  <div id = "footer">
    <div class="outside">
      <h3>Forum info</h3>
      <div class="inside"></div>
    </div>
    <div class="outside">
      <h3>Forum statistics</h3>
      <div class="inside"></div>
    </div>
    <div class="outside">
      <h3>Forum population</h3>
      <div class="inside"></div>
    </div>
  </div>
</div>