<%= stylesheet_link_tag "main.scss" %>
<div id = "wrapper">
  <div id = "header">
    <%= link_to "Login" %>
    <%= link_to "Register" %>
  </div>
  <div id = "table_wrapper">
    <p><%= link_to "Create new board", 
      controller: "board",
      action: "newBoard"%></p>
    <table id = "boards">
      <% @boards.each do |board| %>
        <tr>  
          <td><%= board.board_name %></td>
          <td> Topics: <%= board.topicks %>
          <br> Posts: <%= board.posts %></td>
          <td> Last post:<%= link_to "#{board.last_poster}", board.last_poster %></td>
        </tr>  
      <% end %>  
    </table>
  </div>
  <div id = "footer">
    <div class="outside">
      <h3>Forum info</h3>
      <div class="inside"></div>
    </div>
    <div class="outside">
      <h3>Forum statistics</h3>
      <div class="inside"></div>
    </div>
    <div class="outside">
      <h3>Forum population</h3>
      <div class="inside"></div>
    </div>
  </div>
</div>