<%= stylesheet_link_tag "boards.scss" %>
<div id = "wrapper">
  <div id = "header">
    <h4>
    <%= form_for(:session, url: login_path) do |f| %>
    <%= f.email_field :email, placeholder: "Email" %>
    <%= f.password_field :password, placeholder: "password" %>
    <%= f.submit "Login", id: "btn-subm" %>
    <% end %>
    or you can <%= link_to "register", '/register' %>, if you have not yet. </h4>
  </div>
  <div id = "table_wrapper">
    <p><%= link_to "Start new topick", 
      controller: "topicks",
      action: "newTopick"%></p>
    <table id = "topicks">
      <% @topicks.each do |topick| %>
        <tr>  
          <td><%= link_to "#{topick.theme}", topick_path(topick)%></td>
          <td> Last post: <%= topick.posts.last.user.handle%>
          <br> On: <%= topick.posts.last.updated_at %>
          </td>
        </tr>  
      <% end %> 
    </table>
  </div>
  <div id = "footer">
  </div>
</div>